{% extends "real_templates/barra_navegacion_evaluador.html" %}
{% block title %}
    <title>Plataforma de evaluación</title>
{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
    <!-- !PAGE CONTENT! -->
<div id="main_content" class="w3-main" style="margin-left:340px;margin-right:40px">
  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluaciones</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
    <!--Seccion rubricas-->
    <script>
        function create_button(nombre, id, curso, fecha_inicio, fecha_termino, id_rubrica, estado, mis_evals, id_curso, fecha_ini2, fecha_fin2){
            var super_button = document.createElement('button');
            super_button.onclick = function(){
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
            super_button.className = "w3-btn w3-red w3-block w3-margin";
            super_button.style.width = "75%";
            super_button.innerHTML = "<h3>" + nombre + "</h3>";

            var csrf_input2 = document.createElement('input');
            csrf_input2.type = "hidden";
            csrf_input2.name = "csrfmiddlewaretoken";
            csrf_input2.value = '{{ csrf_token }}';

            var button_1 = document.createElement('button');
            button_1.className = "w3-button w3-white w3-border w3-border-red w3-round-large";
            button_1.innerHTML = 'Rúbrica asociada';
            button_1.type = 'submit';

            var rubrica_input = document.createElement('input');
            rubrica_input.type = "hidden";
            rubrica_input.name = "obj_id";
            rubrica_input.value = id_rubrica;

            var rubrica_form = document.createElement('form');
            rubrica_form.method = 'post';
            rubrica_form.action = '../../rub/a/ver_rubrica';
            rubrica_form.appendChild(csrf_input2);
            rubrica_form.appendChild(rubrica_input);
            rubrica_form.appendChild(button_1);



            var button_2 = document.createElement('button');
            button_2.className = "w3-button w3-white w3-border w3-border-red w3-round-large";
            button_2.innerHTML = 'Exportar puntajes';
            button_2.onclick = function(){
                if(estado == "1") {
                    alert("La evaluación aún no termina");
                    return;
                }
            }

            var button_3 = document.createElement('button');
            button_3.className = "w3-button w3-large w3-red w3-round";
            button_3.innerHTML = 'Ver';

            var the_span = document.createElement('span');
            the_span.className = "w3-button w3-xlarge w3-transparent w3-display-topright";
            the_span.id = "close_" + id;
            the_span.innerHTML = "×";




            /*COSAS*/

                var div2_mod = document.createElement('div');
                div2_mod.className="w3-modal-content w3-card-4 w3-animate-zoom";
                div2_mod.style.maxWidth="600px";
                div2_mod.appendChild(the_span);



                var form_mod = document.createElement('form');
                form_mod.method = 'POST';
                form_mod.action = "modify/";
                form_mod.style.padding = "20px 20px 60px 20px";

                var csrf_i = document.createElement('input');
                csrf_i.type = "hidden";
                csrf_i.name = "csrfmiddlewaretoken";
                csrf_i.value = '{{ csrf_token }}';

                var name_mod = document.createElement('input');
                name_mod.required=true;
                name_mod.type ="text";
                name_mod.name = "nombre";
                name_mod.value = nombre;

                var name_label = document.createElement("label");
                name_label.innerHTML="Nombre: ";

                var curso_label = document.createElement("label");
                curso_label.innerHTML="Curso: ";

                var fi_label = document.createElement("label");
                fi_label.innerHTML="Fecha de inicio: ";

                var ff_label = document.createElement("label");
                ff_label.innerHTML="Fecha de término: ";

                var rub_label = document.createElement("label");
                rub_label.innerHTML="Rubrica: ";

                var evaluadores_label = document.createElement("label");
                evaluadores_label.innerHTML="Evaluadores: ";




                var curso_mod = document.createElement('select');
                curso_mod.required=true;
                curso_mod.name="curso";
               {% for curso in cursos %}
                var cur = document.createElement('option');

                cur.value=id_curso;
                cur.innerHTML='{{ curso.nombre }}';
                if ('{{ curso.id }}' == id_curso ){
                    cur.selected="selected";
               }
                curso_mod.appendChild(cur);
               {% endfor %}


               var fecha_ini_mod = document.createElement('input');
               fecha_ini_mod.required=true;
               fecha_ini_mod.type="date";
               fecha_ini_mod.name="fecha_ini";
               fecha_ini_mod.value=fecha_inicio;
               console.log(fecha_ini_mod.valueAsDate);


               var fecha_fin_mod = document.createElement('input');
               fecha_fin_mod.required=true;
               fecha_fin_mod.type="date";
               fecha_fin_mod.name="fecha_fin";
               fecha_fin_mod.value=fecha_termino;


               form_mod.appendChild(csrf_i);
               form_mod.appendChild(name_label);
               form_mod.appendChild(name_mod);
               form_mod.appendChild(document.createElement('br'));
               form_mod.appendChild(document.createElement('br'));
               form_mod.appendChild(curso_label);
               form_mod.appendChild(curso_mod);
               form_mod.appendChild(document.createElement('br'));
               form_mod.appendChild(document.createElement('br'));
               form_mod.appendChild(fi_label);
               form_mod.appendChild(fecha_ini_mod);
               form_mod.appendChild(document.createElement('br'));
               form_mod.appendChild(document.createElement('br'));
               form_mod.appendChild(ff_label);
               form_mod.appendChild(fecha_fin_mod);
               form_mod.appendChild(document.createElement('br'));
               form_mod.appendChild(document.createElement('br'));



            form_mod.appendChild(document.createElement('br'));
            form_mod.appendChild(document.createElement('br'));
            form_mod.appendChild(evaluadores_label);
            form_mod.appendChild(document.createElement('br'));


            div2_mod.appendChild(form_mod);




            var csrf_input = document.createElement('input');
            csrf_input.type = "hidden";
            csrf_input.name = "csrfmiddlewaretoken";
            csrf_input.value = '{{ csrf_token }}';

            var li1 = document.createElement('li');
            li1.innerHTML = "Curso: " + curso;

            var li2 = document.createElement('li');
            li2.innerHTML = "Fecha de inicio: " + fecha_ini2;

            var li3 = document.createElement('li');
            li3.innerHTML = "Fecha de termino: " + fecha_fin2;

            var par = document.createElement('p');
            par.appendChild(li1);
            par.appendChild(li2);
            par.appendChild(li3);
            par.appendChild(rubrica_form);
            par.appendChild(button_2);

            var div = document.createElement('div');
            div.id = id;
            div.className = "w3-hide w3-container w3-pale-red w3-padding-large w3-margin";
            div.style.width = '75%';
            div.appendChild(par);
            div.appendChild(button_3);


            document.getElementById("main_content").appendChild(super_button);
            document.getElementById("main_content").appendChild(div);
            document.body.appendChild(div_mod);
        }


    </script>

{% for evaluacion in evaluaciones %}
    <script>
    var arr = [{% for eval in evaluacion.evaluadores.all %}"{{ eval.email }}"{% if not forloop.last %},{% endif %}{% endfor %}];


        create_button('{{ evaluacion.nombre }}', '{{ evaluacion.id }}', '{{ evaluacion.curso }}', '{{ evaluacion.fecha_inicio | date:"Y-m-d"}}', '{{ evaluacion.fecha_fin | date:"Y-m-d" }}', '{{ evaluacion.rubrica.id }}', '{{ evaluacion.estado }}', arr, '{{ evaluacion.curso.id }}', '{{ evaluacion.fecha_inicio | date:"d-m-Y" }}','{{ evaluacion.fecha_fin | date:"d-m-Y" }}');
    </script>

{% endfor %}


</div>
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
{% endblock %}