{% extends "real_templates/barra_navegacion.html" %}
{% block title %}
<title>Plataforma de evaluación</title>
{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:300px; margin-bottom:300px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Bienvenido al sistema de evaluación</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p><h3>Seleccione alguna sección para comenzar</h3></p>
     <i class="far fa-arrow-alt-circle-left" style="font-size:300%"></i>
  </div>
{% endblock %}